[user]
	name  = Oliver Zscheyge
	email = o.zscheyge@epages.com
[core]
	excludesfile = /home/olli/.gitignore_global
	eol = lf
	autocrlf = input
[alias]
	ci = commit
	st = status
	a = add
    d = diff
	co = checkout
    l = log
    b = branch
[advice]
	statusHints = false
[color]
	ui = auto
