[user]
	name = ooz
	email = ooz@users.noreply.github.com
[core]
	excludesfile = /home/olli/.gitignore_global
[alias]
	ci = commit
	st = status
	a = add
    d = diff
	co = checkout
    l = log
    b = branch
[advice]
	statusHints = false
[color]
	ui = auto
